/*my styles*/
/*div[class^='col-'] {
	outline: 1px solid black;
}*/

.hidden {
	display: none;
}

/*courses styles*/
body{
    /*padding:50px 0px 0px 0px;*/
    z-index:0;
}

.flags {
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 2;
	padding: 5px;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: #fff;
}

.flags-text {
	text-align: center;
	color: black;
}

/* .flags .flag {
	padding: 0;
	border: 0;
} */

.row-header {
	margin: 60px auto;
	padding: 0px auto;
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.row-footer {
	background-color: #AFAFAF;
	margin: 0px auto;
	padding: 20px 0px;
}

.jumbotron {
	padding: 0px 30px;
	margin: 0px auto;
	background: #7986CB;
	color: floralwhite;
}

.jumbotron .img-logo {
	margin: auto auto;
}

.map {
	min-height: 450px;
	background-color: gray;
}
/*
.container {
	background-color: #f3f3f3;
}*/
.description-header, 
.description-text {
	margin-bottom: 20px;
}

.produced {
	margin-top: 15px;
}
 .socials  {
	margin-top: 10px;
}

#myScrollspy {
	padding-top: 50px;
}
.affix {
	top: 50px;
}
.schedule-body .signin {
	text-align: right;
}

.port.leaved {
    text-decoration: line-through;
}

.carousel {
	background: #59b6ca;
}

.carousel .item {
	height: 300px;
}

.item img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 300px;
}

#carouselButtons {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.modal-dialog {
	width: 90%;
}
.big-img {
	margin: 5px auto;
}

.thumbs {
	text-align: center;
}

.thumbs img {
	cursor: pointer;
}