.wrapper {
  position: relative;
  width: 80%;
  min-width: 500px;
  margin: 0 auto;
  padding-top: 5px;
  font-size: 14px;
  line-height: 21px;
  color: black;
  font-family: "PT Sans", Arial, sans-serif;
}

.hidden {
  display: none;
}


h1 {
	text-align: center;
}
 .flags {
  position: absolute;
  top: 5px;
  right:0;
  margin:0;
  padding: 0;
  list-style: none;
 }

 .flags li {
  display: inline-block;
  cursor: pointer;
 }
/*.map{
  width: 100%;
  height: 500px;
  border: 2px solid black;
  border-radius: 2px;
}*/
.intro {
  padding: 10px;
  padding-bottom: 5px;
  min-height: 90px;
}

.intro_text {
  text-align: center;
}
.produced {
  float: right;
}